.cover-bg {
	background: url('http://localhost:3000/_next/image?url=https%3A%2F%2Fimages.theconversation.com%2Ffiles%2F500899%2Foriginal%2Ffile-20221214-461-22jr1l.jpg%3Fixlib%3Drb-1.1.0%26q%3D45%26auto%3Dformat%26w%3D1200%26h%3D1200.0%26fit%3Dcrop%26%2Flibeyondea.png&w=256&q=75');
	
}
.info__user {
	border-top: 7rem solid #fff;
	.avt {
		margin-top: -7rem !important;
		span {
			background-color: #fff;
		}
	}
}

.more__user {
	right: 0px;
	top: 6.5rem;
}

.custom__dropdown__toggle {
	&:after {
		display: none;
	}
}
